<p>
	<table id="problem">
		<tr>
			<td id="x"></td>
			<td id="a">a</td>
			<td id="b">b</td>
			<td id="c">c</td>
			<td id="d">d</td>
			<td id="e">e</td>
			<td id="f">f</td>
			<td id="g">g</td>
			<td id="h">h</td>
			<td id="i">i</td>
		</tr>
		<tr>
			<td id="1">1</td>
			<td id="a1"><input type="number" min="0" max="9"/></td>
			<td id="b1"><input type="number" min="0" max="9"/></td>
			<td id="c1"><input type="number" min="0" max="9"/></td>
			<td id="d1"><input type="number" min="0" max="9"/></td>
			<td id="e1"><input type="number" min="0" max="9"/></td>
			<td id="f1"><input type="number" min="0" max="9"/></td>
			<td id="g1"><input type="number" min="0" max="9"/></td>
			<td id="h1"><input type="number" min="0" max="9"/></td>
			<td id="i1"><input type="number" min="0" max="9"/></td>
		</tr>
		<tr>
			<td id="2">2</td>
			<td id="a2"><input type="number" min="0" max="9"/></td>
			<td id="b2"><input type="number" min="0" max="9"/></td>
			<td id="c2"><input type="number" min="0" max="9"/></td>
			<td id="d2"><input type="number" min="0" max="9"/></td>
			<td id="e2"><input type="number" min="0" max="9"/></td>
			<td id="f2"><input type="number" min="0" max="9"/></td>
			<td id="g2"><input type="number" min="0" max="9"/></td>
			<td id="h2"><input type="number" min="0" max="9"/></td>
			<td id="i2"><input type="number" min="0" max="9"/></td>
		</tr>
		<tr>
			<td id="3">3</td>
			<td id="a3"><input type="number" min="0" max="9"/></td>
			<td id="b3"><input type="number" min="0" max="9"/></td>
			<td id="c3"><input type="number" min="0" max="9"/></td>
			<td id="d3"><input type="number" min="0" max="9"/></td>
			<td id="e3"><input type="number" min="0" max="9"/></td>
			<td id="f3"><input type="number" min="0" max="9"/></td>
			<td id="g3"><input type="number" min="0" max="9"/></td>
			<td id="h3"><input type="number" min="0" max="9"/></td>
			<td id="i3"><input type="number" min="0" max="9"/></td>
		</tr>
		<tr>
			<td id="4">4</td>
			<td id="a4"><input type="number" min="0" max="9"/></td>
			<td id="b4"><input type="number" min="0" max="9"/></td>
			<td id="c4"><input type="number" min="0" max="9"/></td>
			<td id="d4"><input type="number" min="0" max="9"/></td>
			<td id="e4"><input type="number" min="0" max="9"/></td>
			<td id="f4"><input type="number" min="0" max="9"/></td>
			<td id="g4"><input type="number" min="0" max="9"/></td>
			<td id="h4"><input type="number" min="0" max="9"/></td>
			<td id="i4"><input type="number" min="0" max="9"/></td>
		</tr>
		<tr>
			<td id="5">5</td>
			<td id="a5"><input type="number" min="0" max="9"/></td>
			<td id="b5"><input type="number" min="0" max="9"/></td>
			<td id="c5"><input type="number" min="0" max="9"/></td>
			<td id="d5"><input type="number" min="0" max="9"/></td>
			<td id="e5"><input type="number" min="0" max="9"/></td>
			<td id="f5"><input type="number" min="0" max="9"/></td>
			<td id="g5"><input type="number" min="0" max="9"/></td>
			<td id="h5"><input type="number" min="0" max="9"/></td>
			<td id="i5"><input type="number" min="0" max="9"/></td>
		</tr>
		<tr>
			<td id="6">6</td>
			<td id="a6"><input type="number" min="0" max="9"/></td>
			<td id="b6"><input type="number" min="0" max="9"/></td>
			<td id="c6"><input type="number" min="0" max="9"/></td>
			<td id="d6"><input type="number" min="0" max="9"/></td>
			<td id="e6"><input type="number" min="0" max="9"/></td>
			<td id="f6"><input type="number" min="0" max="9"/></td>
			<td id="g6"><input type="number" min="0" max="9"/></td>
			<td id="h6"><input type="number" min="0" max="9"/></td>
			<td id="i6"><input type="number" min="0" max="9"/></td>
		</tr>
		<tr>
			<td id="7">7</td>
			<td id="a7"><input type="number" min="0" max="9"/></td>
			<td id="b7"><input type="number" min="0" max="9"/></td>
			<td id="c7"><input type="number" min="0" max="9"/></td>
			<td id="d7"><input type="number" min="0" max="9"/></td>
			<td id="e7"><input type="number" min="0" max="9"/></td>
			<td id="f7"><input type="number" min="0" max="9"/></td>
			<td id="g7"><input type="number" min="0" max="9"/></td>
			<td id="h7"><input type="number" min="0" max="9"/></td>
			<td id="i7"><input type="number" min="0" max="9"/></td>
		</tr>
		<tr>
			<td id="8">8</td>
			<td id="a8"><input type="number" min="0" max="9"/></td>
			<td id="b8"><input type="number" min="0" max="9"/></td>
			<td id="c8"><input type="number" min="0" max="9"/></td>
			<td id="d8"><input type="number" min="0" max="9"/></td>
			<td id="e8"><input type="number" min="0" max="9"/></td>
			<td id="f8"><input type="number" min="0" max="9"/></td>
			<td id="g8"><input type="number" min="0" max="9"/></td>
			<td id="h8"><input type="number" min="0" max="9"/></td>
			<td id="i8"><input type="number" min="0" max="9"/></td>
		</tr>
		<tr>
			<td id="9">9</td>
			<td id="a9"><input type="number" min="0" max="9"/></td>
			<td id="b9"><input type="number" min="0" max="9"/></td>
			<td id="c9"><input type="number" min="0" max="9"/></td>
			<td id="d9"><input type="number" min="0" max="9"/></td>
			<td id="e9"><input type="number" min="0" max="9"/></td>
			<td id="f9"><input type="number" min="0" max="9"/></td>
			<td id="g9"><input type="number" min="0" max="9"/></td>
			<td id="h9"><input type="number" min="0" max="9"/></td>
			<td id="i9"><input type="number" min="0" max="9"/></td>
		</tr>
	</table>
</p>
<p>

	<table>
		<tr><td id="sa1">a1</td><td id="sd1">d1</td><td id="sg1">g1</td></tr>
		<tr><td id="sa4">a4</td><td id="sd4">d4</td><td id="sg4">g4</td></tr>
		<tr><td id="sa7">a7</td><td id="sd7">d7</td><td id="sg7">g7</td></tr>

	</table>
</p>
<p>
	<input type="button" value="Reset" id="reset"/>
	<input type="button" value="Solve" id="solve"/>
	<input type="button" value="Fill 4 star" id="fill"/>
	<input type="button" value="Fill 1 star" id="fill1"/>
	<br/>
	<input type="button" value="Serialize" id="serialize"/>
	<input type="button" value="DeSerialize" id="deSerialize"/>
	<input type="text" id="serializedValues"/>
	</p>
