// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#c1, #c2, #c3, #c4, #c5, #c6, #c7, #c8, #c9
{
border-right: 2px solid #000;
}

#f1, #f2, #f3, #f4, #f5, #f6, #f7, #f8, #f9
{
border-right: 2px solid #000;
}

#a3, #b3, #c3, #d3, #e3, #f3, #g3, #h3, #i3
{
 border-bottom: 2px solid #000;
}

#a6, #b6, #c6, #d6, #e6, #f6, #g6, #h6, #i6
{
 border-bottom: 2px solid #000;
}

td
{
border: 1px dotted #000;
}